.container {
  padding: 10px;
  .input-group {
    margin-bottom: 20px;
  }
  .bg-info {
    padding: 10px;
  }
  .userinfobtn {
    margin-bottom: 10px;
  }
  .infobtn {
    margin-bottom: 20px;
  }
}

.main {
  width: 300px;
  margin: 20% auto;
  .input-group {
    margin-bottom: 20px;
  }
  .center {
    text-align: center;
  }
}

