
<div class="container" ng-controller="MainController as vm">
    <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" ng-model="vm.searchText" aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1">Search</span>
                </div>

                <div class="input-group">
                    <a type="button" class="btn btn-primary btn-lg" ui-sref="main">Start page</a>
                </div>

                <div class="panel panel-primary" ng-repeat="post in vm.posts | filter:vm.searchText">
                    <div class="panel-heading clearfix">
                        <h3 class="pull-left panel-title">{{post.author}}</h3><span class="pull-right">{{post.date | date:"dd-MM-yyyy 'at' h:mma" }}</span>
                    </div>

                    <div class="panel-body">
                        {{post.message}}
                    </div>
                </div>
            </div>
    </div>
</div>